.header-logo-img{
    height:50px;
    width:200px;
}

.header-menu {
    display: inline-block;
    list-style-type: none;    
}

.header-menu-item{
    float: right;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header-menu-item{
 font-size: 40px;
 color:#2F4E6A;
 text-align: center;
}
