<div class="p-grid p-nogutter">
    <div class="p-col-4 p-md-3 p-lg-2">
        <div class="p-grid p-nogutter">
            <div class="p-col-4 p-md-3 p-lg-2 toggle-menu-button">
                <a class="icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
            </div>
            <div class="p-col-8 p-md-9 p-lg-10">
                <div class="logo">
                    <img src="../assets/images/company-name.png" class="header-name-img">
                    <img src="../assets/images/company-logo.png" class="header-logo-img">
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-8 p-md-9 p-lg-10">
        <div class="header-right">
            <div class="header-right-item" (click)="userdetails.toggle($event)">
                <a class="icon"><span [innerHtml]="user.emailId" class="user-name"></span><i class="fa fa-user"></i></a>
            </div>
            <div class="header-right-item" (click)="showNotificationSidebar()">
                <a class="icon"><i class="fa fa-bell"></i><span class="badge">5</span></a>
            </div>
            <div class="header-right-item" (click)="themeChooser.toggle($event)">
                <a class="icon"><i class="fa fa-cog"></i></a>
            </div>
            <div class="header-right-item">
                <a class="icon" (click)="logout()"><i class="fa fa-sign-out-alt"></i></a>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #userdetails>
    <div><b>User Name: </b><i [innerHtml]="user.userName"></i></div>
    <div><b>Email Id: </b><i [innerHtml]="user.emailId"></i></div>
    <div><b>Birthdate: </b><i [innerHtml]="user.birthDate | date:'dd/MM/yyyy'"></i></div>
</p-overlayPanel>

<p-sidebar [(visible)]="displayNotifications" position="right">
    <div *ngFor="let notification of notifications; let i=index" class="notification-message">
        <div><b>Message: </b><i [innerHtml]="notification.message"></i></div>
        <div><i>Created On: </i><i [innerHtml]="notification.createdOn | date:'dd/MM/yyyy'"></i></div>
    </div>
</p-sidebar>

<p-overlayPanel #themeChooser>
    Select Theme:
    <div class="p-grid">
        <div class="p-col-4">
            <button pButton type="button" (click)="selectTheme('dark-theme')" style="background-color:#517fa4"></button>
        </div>
        <div class="p-col-4">
            <button pButton type="button" (click)="selectTheme('light-theme')" style="background-color:DarkGray"></button>
        </div>
        <div class="p-col-4">
            <button pButton type="button" (click)="selectTheme('nature-theme')" style="background-color:#9dc183"></button>
        </div>
    </div>
</p-overlayPanel>

<p-sidebar [(visible)]="displaySidebarMenu" position="left" *ngIf="isMobileResolution" styleClass="mobile-menubar" [showCloseIcon]="false">
    <app-menu></app-menu>
</p-sidebar>