.header-name-img{
    display: block;
    height:50px;    
    width:98%;
}

.header-logo-img{
    display: none;
}

.header-right{
    display: flex;
}

.header-right .header-right-item{    
    height: 50px;
    border-left:1px solid #517fa4;
}

.header-right-item .user-name{
    font-size: 50%;
    padding:5px;
}

.header-right a:hover{
    color:lightblue;
}

@media (max-width: 768px) {
    .header-name-img{
        display: none;
    }
    
    .header-logo-img{
        display: block;
        height:50px;
        width:70px;
    }

    .header-right-item .user-name{
        display: none;
    }
}

.notification-message{
    min-height:25px;
    width: 200px;
    border-bottom: 1px solid lightblue;
    padding:5px;
}

.toggle-menu-button{
    background-color: #1d3242;
}