<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Department List">
    <p-table [value]="departments">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-department>
            <tr>
                <td *ngFor="let col of columns">
                    {{department[col.field]}}
                </td>
                <td>
                    <a (click)="goToDepartmentDetails(department.Id)">Details</a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>