<div class="login-panel">
  <div class="p-grid p-nogutter p-justify-center	p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
      <p-panel header="Ng-Prime Login">
        <div class="p-grid p-justify-center	p-align-center">
          <div class="p-xl-6 p-lg-6 p-md-8 p-sm-10">
            <img src="../assets/images/logo-large.png" class="logo-img">
          </div>
          <div class="p-col-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input id="input-username" type="text" size="30" pInputText [(ngModel)]="userName" placeholder="user name">
            </div>
          </div>
          <div class="p-col-12">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input id="input-password" type="password" size="30" pInputText [(ngModel)]="password" placeholder="password">
            </div>
          </div>
        </div>
        <p-footer>
          <div class="p-grid">
            <div class="p-col-6">
              <button pButton type="button" label="Login" class="ui-button-raised" (click)="onClickLogin()"></button>
            </div>
            <div class="p-col-6">
              <button pButton type="button" label="Register" class="ui-button-raised" [routerLink]="['/register']"></button>
            </div>
          </div>
        </p-footer>
      </p-panel>
    </div>
  </div>
</div>