<div class="np-menu">
    <div *ngFor="let menu of items">
        <div class="np-menuitem" [ngClass]="{'np-active-menu': selectedItem == menu.label}" *ngIf="!menu.items"
            (click)="onMenuClick(menu.label, menu.routerLink, $event)">
            <div><i [className]="menu.icon"></i>{{menu.label}}</div>
        </div>
        <div *ngIf="menu.items">
            <div class="np-menuwithsub" (click)="toggleSubMenu($event)"><i [className]="menu.icon"></i>{{menu.label}}<i class="right-icon fa fa-plus"></i></div>
            <div class="np-submenu">
                <div *ngFor="let submenu of menu.items">
                    <div class="np-submenuitem" [ngClass]="{'np-active-menu': selectedItem == submenu.label}"
                        *ngIf="!submenu.items" (click)="onMenuClick(submenu.label, submenu.routerLink, $event)">
                        <span><i [className]="submenu.icon"></i>{{menu.label}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>