<div class="ui-fluid main-container" [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
    <p-toast position="bottom-right"></p-toast>
    <div [class.np-loader-hidden]="!showLoader" class="np-loader">
        <p-progressSpinner strokeWidth="5"></p-progressSpinner>
    </div>
    <router-outlet></router-outlet>
    <div class="theme-chooser">
        <button pButton type="button" (click)="themeChooser.toggle($event)" icon="fa fa-cog"></button>
    </div>
</div>

<p-overlayPanel #themeChooser>
    Theme chooser:
    <div class="p-grid">
        <div class="p-col-6">
            <button pButton type="button" (click)="selectTheme('dark')" style="background-color:#517fa4"></button>
        </div>
        <div class="p-col-6">
            <button pButton type="button" (click)="selectTheme('light')" style="background-color:#1b5e20"></button>
        </div>
    </div>
</p-overlayPanel>