<div class="user-regisration">
  <div class="p-grid p-nogutter p-justify-center p-align-center" style="height:100%">
    <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
      <form [formGroup]="userform" (ngSubmit)="onClickRegisterUser()">
        <p-panel header="User Registration">
          <div class="p-grid p-justify-center p-align-center">
            <div class="p-xl-6 p-lg-6 p-md-8 p-sm-10">
              <img src="assets/images/logo-large.png" class="login-logo">
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input id="float-input-username" type="text" size="30" pInputText formControlName="name"
                  placeholder="user name" required>
              </div>
            </div>
            <div class="p-col-12" *ngIf="userform.controls['name'].errors && userform.controls['name'].dirty">
              <p-message severity="error" text="User name is required"
                *ngIf="userform.controls['name'].errors['required']"></p-message>
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input id="float-input-password" type="password" size="30" pInputText formControlName="password"
                  placeholder="password" required>
              </div>
            </div>
            <div class="p-col-12" *ngIf="userform.controls['password'].errors && userform.controls['password'].dirty">
              <p-message severity="error" text="Password is required"
                *ngIf="userform.controls['password'].errors['required']"></p-message>
              <p-message severity="error" text="Minimum 6 characters required."
                *ngIf="userform.controls['password'].errors['minlength'] "></p-message>
            </div>
            <div class="p-col-12">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
                <input id="float-input-emailid" type="email" size="30" pInputText formControlName="emailId"
                  placeholder="Email Id" required>
              </div>
            </div>
            <div class="p-col-12" *ngIf="userform.controls['emailId'].errors && userform.controls['emailId'].dirty">
              <p-message severity="error" text="Email is required"
                *ngIf="userform.controls['emailId'].errors['required']"></p-message>
              <p-message severity="error" text="Email is invalid" *ngIf="userform.controls['emailId'].errors['email']">
              </p-message>
            </div>
            <div class="p-col-12">
              <p-calendar formControlName="birthDate" placeholder="Birth date" [showIcon]=true></p-calendar>
            </div>
            <div class="p-col-12" *ngIf="userform.controls['birthDate'].errors && userform.controls['birthDate'].dirty">
              <p-message severity="error" text="Birthdate is required"
                *ngIf="userform.controls['birthDate'].errors['required']"></p-message>
              <p-message severity="error" text="Minimum age should be 10 years."
                *ngIf="userform.controls['birthDate'].errors['invalidBirthDate']"></p-message>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-6">
              <button pButton type="button" label="Register" class="ui-button-raised" [disabled]="!userform.valid"
                (click)="onClickRegisterUser()"></button>
            </div>
            <div class="p-col-6">
              <button pButton type="button" label="Login" class="ui-button-raised"
                (click)="onClickGoToLogin()"></button>
            </div>
          </div>
        </p-panel>
        <div class="extra-page-footer">
          <div>2019@ Nilav Patel. Made with <span class="color-red">❤</span>.</div>
          <div>Version : {{version}}</div>
        </div>
      </form>
    </div>
  </div>
</div>