.layout-header{
    padding:0px;
    background-color: #ffffff;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.layout-footer{
    padding:0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.8)
}
.layout-menu{
    height:100%
}
.layout-main{
    height: 100%
}